@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<div class="services-breadcrumb-w3ls-agile">
    <div class="inner_breadcrumb">
        <ul class="short">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>|</span></li>
            <li>Role</li>
        </ul>
    </div>
</div>
<div class="edu_button" style="padding-top:20px">
    <a asp-action="Create" asp-area="Admin" class="btn btn-primary btn-lg hvr-underline-from-left">Create New</a>
</div>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="edu_button">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-lg hvr-underline-from-left">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-lg hvr-underline-from-left">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<br />
<br />
<br />
<br />
